.cardSwiper {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 80px;
}

.cardSlide {
  background: white;
  width: 260px;
  height: 380px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* arrows */
.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
}
